* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
}
.hero h4 {
  font-size: 40px;
  color: #94a3b8;
  /* font-weight:500; */
  margin-bottom: 20px;
}
textarea {
  width: 600px;
  height: 250px;
  background: #64748b;
  color: #334155;
  font-size: 20px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 35px;
  resize: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 3px gray;
  appearance: auto;
}
textarea::placeholder {
  color: #334155;
  font-style: italic;
}
select {
  flex: 1;
  height: 40px;
  border: 0;
  border-radius: 15px;
  color: #334155;
  background: #64748b;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  font-size: large;
  box-shadow: 0px 0px 0px 3px gray;
  appearance: none;
  background-image: url(images/dropdown.png);
  /* background-repeat is used here because the image is small and to fit into the entire area, it may repeat multiple times */
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 30px;
  background-position-y: 15px;
}
button {
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  color: #334155;
  background: #64748b;
  margin-left: 10px;
  cursor: pointer;
  font-size: large;
  box-shadow: 0px 0px 0px 3px gray;
  background-image: url(images/play.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 10px;
  background-position-y: 10px;
}


