

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background color */
}

.hero {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero h4 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

textarea {
  width: 580px; /* Adjust width to fit within container */
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.row {
  display: flex;
  justify-content: center;
}

select,
button {
  margin: 0 5px;
  padding: 5px 6px; /* Adjust padding to shrink buttons */
  border: none;
  border-radius: 5px;
  background-color: #64748b;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select {
  flex: 1;
}

button {
  width: auto; /* Allow button width to adjust based on content */
  text-align: center;
}

button:hover {
  background-color: black;
}

.bookmarks-container {
  display: none; /* Initially hide the bookmarks container */
  margin-top: 20px;
}

.bookmarks-container h4 {
  text-align: center;
  font-size: 20px;
}

.bookmark {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.bookmark-text {
  overflow-wrap: break-word; /* Wrap long bookmark text */
}
